@for $iColumn from 1 through 12 {
	.col#{$iColumn} {
		width: calculateGridColumn($iColumn);
	}
}

[class*="col"] {
  float: left;

 	@media (max-width: 992px) {
		&:not([class*="col-xs"]) {
		  width: 100%;
		}
	}

}


@media (max-width: 992px) {
	.hide-on-small {
		display: none;
	}

	.show-on-small {
		display: block;
	}
}

@media (min-width: 992px) {
	.show-on-small {
		display: none;
	}
}