a.btn {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	border: none;
	display: inline-block;
	color: #fff;
	padding: 1rem 2rem;
	transition: background-color .3s;

	@each $type, $color in (primary, #26b938 ), 
							(discrete, #333),
							(info, #28508c ),
							(attention, #ff7e00) {
		&--#{$type} {
			background-color: $color;

			&:hover {
				background-color: darken($color, 5%);
			}
		}
	}
}