
a.btn {
	text-decoration: none;
}
.btn {
	cursor: pointer;
	border: none;
	display: inline-block;
	color: #fff;
	padding: 1rem 2rem;
	transition: background-color .3s;
}

.btn--primary {
	background-color: #26b938;
}

.btn--primary:hover {
	background-color: #1d922b;
}

.btn--discrete {
	background-color: #333;
}

.btn--discrete:hover {
	background-color: #000;
}

.btn--info {
	background-color: #28508c;
}

.btn--info:hover {
	background-color: #203758;
}

.btn--attention {
	background-color: #ff7e00;
}

.btn--attention:hover {
	background-color: #ef7600;
}