.carousel {
	position: relative;

	&__items {
	    max-width: 80%;
	    margin: 0 auto;
	}

	&__arrow {
	    position: absolute;
	    text-align: center;
	    top: 50%;
	    transform: translateY(-100%);
	    font-size: 2rem;
	    color: #3b7eec;
	    padding: 1rem;
	    cursor: pointer;
	    transition: transform .2s;

	    &:hover {
			transform: translateY(-100%) scale(1.3);
		}

		&--left {
			left: 0;
		}

		&--right {
			right: 0;
		}
	}

	&__item {
		display: none;
		> img {
		    border: 5px solid #fff;
		    box-shadow: 0 0 12px #333;

		    @media(min-width: 600px) {
			    min-height: 300px;
			}
		}

		&--active {
			display: block;
		}
	}

	&__nav {
	    margin-top: 2rem;

	    &-item {
			display: inline-block;
			background-color: #ccc;
			border-radius: 100%;
			width: 1.3rem;
			margin-right: 8px;
			height: 1.3rem;
			transition: background-color .3s, transform .3s;

			&:last-child {
				margin-right: 0;
			}

			&--active {
				background-color: #3b7eec;
			}

			&:hover {
				cursor: pointer;
				transform: scale(1.1);
				background-color: #666;
				transition: transform .1s;
			}

			&:active {
				transform: scale(1);
			}
		}
	}
}