.gallery-nav {
	padding: 0.5rem;
	position: absolute;
	top: -10rem;
	margin-left: 50%;
	transform: translateX(-50%);
	width: 90%;
    background: linear-gradient(#333, rgba(175, 175, 175, 0.25), #333);
    transition: top 0.3s;
    box-shadow: 1px 1px 3px #333;
    &:after {
		content: " ";
		display: block;
		clear: both;
	}

	@media (max-width: 600px) 
	{
	    top: 1rem;
	}

}


.gallery-container {
	padding-top: 60%;
	position: relative;
	background-color: #333;
	overflow: hidden;


	&:hover .gallery-nav, 
	&:focus .gallery-nav {
		top: 1rem;
	}	
}

.backimage {
	position: absolute;
	box-sizing: border-box;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;
	padding: 1rem;	
	background-size: cover;
	background-position: center;
	background-image: url('https://gsoldateli.github.io/gallery/images/carro1.jpg');
    animation-name: bg-in;
    animation-duration: .5s;
    animation-direction: forward;
}



.gallery-item {
	max-height: 100px;
    width: 19.6%;
	overflow: hidden;
	float: left;
	cursor: pointer;
	position: relative;

	&:before {
		content: " ";
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: #333;
	}

	&:nth-child(even) {
		margin: 0 .5%;
		display: block;
	}

	> img {
		opacity: 0.5;
		width: 100%;
		height: auto;
		transition: transform 0.3s;
	}

	:hover > img {
		opacity: 0.65;
		transform: scale(1.1);
	}

	&.active > img {
		opacity: 1;
		transform: scale(1.3);
	}

}

.fadeout {
    animation-name: bg-out;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.fadein {
    animation-name: bg-in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes bg-out {
    from {}
    to {
    	transform: scale(0);
    	opacity: 0.1;
    }
}

@keyframes bg-in {
    from { transform: scale(0.0); 
		opacity: 0.1;
    }
    to {
    	transform: scale(1);
    	opacity: 1;
    }
}