.project {
	text-align: left;
}

.project__title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.project__description {
	margin-bottom: 1rem;
}

.project__links > a {
	margin-bottom: .3rem;
}
