.search {
	float: right;
	position: relative;
	margin-top: 2.5rem;
	max-width: 250px;

	&__label {
		position: absolute;
		left: 0;
		bottom: 3px;
		z-index: 1;
		display: block;
		color: #98bcf5;
		font-weight: bold;
		cursor: pointer;
		transition: transform .3s, font-size .3s;
	}

	&__input {
		left: 0;
		bottom: 0;
		position: absolute;
		display: block;
		background-color: transparent;
		border:none;
		color: #fff;
		padding: .3rem 0;
		outline: none;
		width: 100%;
		border-bottom: 2px solid #98bcf5;

		&:not(:invalid) + .search__label,
		&:focus + .search__label {
			transform: translateY(-30px);
			font-size: .8rem;
		}
	}

	&__icon {
		position: absolute;
		bottom: 8px;
		right: 8px;
		font-size: 1.3rem;
		cursor: pointer;
	}
}